.table{
    background-color: rgb(243, 57, 11);
    border-color: rgb(5, 112, 29);
    border-width: 20px;
}
.row2{
    background-color: rgb(17, 245, 245);    
}
.row1{
    background-color: rgb(190, 13, 152);
}
